$if(titleblock)$
$title$
$for(author)$
=== $author$
$endfor$
$if(address)$
$for(address)$

$address$
$endfor$
$endif$
$if(toc)$
:toc:
$endif$

$endif$
$for(header-includes)$
$header-includes$

$endfor$
$for(include-before)$
$include-before$

$endfor$
$body$
$for(include-after)$

$include-after$
$endfor$
